@import 'colors.css';

/* Colors */

@define-color custom_accent #bad2ea;
@define-color custom_accent_backdrop mix(mix(@custom_accent, white, 0.5), gray, 0.2);

/* Title bar */

.titlebar {
    min-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    border-radius: 0;
    border-width: 0;
    outline-width: 0;
    box-shadow: none;
}

:not(.maximized):not(.fullscreen) .titlebar {
    background: none;
}

.maximized .titlebar:backdrop, .fullscreen .titlebar:backdrop {
    background-color: @custom_accent_backdrop;
}

/* Title bar caption */

.titlebar .title {
    font-weight: normal;
    text-shadow:
        0 0 16px white, 0 0 8px white, 0 0 4px white, 0 0 2px white,
        0 0 16px white, 0 0 8px white, 0 0 4px white,
        0 0 16px white, 0 0 8px white;
}

/* Title bar buttons */

.titlebar .titlebutton {
    min-height: 18px;
    min-width: 26px;
    background-position: 0 0;
    background-clip: content-box;
}

:not(.maximized):not(.fullscreen) .titlebar .titlebutton {
    margin-bottom: 1px;
}

.maximized .titlebar .titlebutton.close, .fullscreen .titlebar .titlebutton.close {
    padding-right: 8px;
}

.titlebar .titlebutton.close {
    min-width: 43px;
    background-image: url("assets/close-normal.png");
}
.titlebar .titlebutton.close:hover {
    background-image: url("assets/close-hover.png");
}
.titlebar .titlebutton.close:active {
    background-image: url("assets/close-active.png");
}
.titlebar .titlebutton.close:backdrop:not(:hover) {
    background-image: url("assets/close-backdrop.png");
}
.titlebar .titlebutton.close:backdrop:active {
    background-image: url("assets/close-active.png");
}
.titlebar .titlebutton.minimize {
    background-image: url("assets/minimize-normal.png");
}
.titlebar .titlebutton.minimize:hover {
    background-image: url("assets/minimize-hover.png");
}
.titlebar .titlebutton.minimize:active {
    background-image: url("assets/minimize-active.png");
}
.titlebar .titlebutton.minimize:backdrop:not(:hover) {
    background-image: url("assets/minimize-backdrop.png");
}
.titlebar .titlebutton.minimize:backdrop:active {
    background-image: url("assets/minimize-active.png");
}
.titlebar .titlebutton.maximize {
    background-image: url("assets/maximize-normal.png");
}
.titlebar .titlebutton.maximize:hover {
    background-image: url("assets/maximize-hover.png");
}
.titlebar .titlebutton.maximize:active {
    background-image: url("assets/maximize-active.png");
}
.titlebar .titlebutton.maximize:backdrop:not(:hover) {
    background-image: url("assets/maximize-backdrop.png");
}
.titlebar .titlebutton.maximize:backdrop:active {
    background-image: url("assets/maximize-active.png");
}
.maximized .titlebar .titlebutton.maximize {
    background-image: url("assets/restore-normal.png");
}
.maximized .titlebar .titlebutton.maximize:hover {
    background-image: url("assets/restore-hover.png");
}
.maximized .titlebar .titlebutton.maximize:active {
    background-image: url("assets/restore-active.png");
}
.maximized .titlebar .titlebutton.maximize:backdrop:not(:hover) {
    background-image: url("assets/restore-backdrop.png");
}
.maximized .titlebar .titlebutton.maximize:backdrop:active {
    background-image: url("assets/restore-active.png");
}

/* Window */

:not(.maximized):not(.fullscreen) decoration {
    border-radius: 8px;
    padding: 6px;
    padding-top: 0;
    border: 2px groove mix(@custom_accent, black, 0.33333);
    border-right-style: ridge;
    border-bottom-style: ridge;
}

:not(.maximized):not(.fullscreen) decoration, .maximized .titlebar, .fullscreen .titlebar {
    background: top left no-repeat url("assets/frameglow.png"), top right no-repeat url("assets/frameglow-flipped.png"), repeat @custom_accent url("assets/reflection-tiled.png");
}

:not(.maximized):not(.fullscreen) decoration:backdrop, .maximized .titlebar:backdrop, .fullscreen .titlebar:backdrop {
    background: top left no-repeat url("assets/frameglow-inactive.png"), top right no-repeat url("assets/frameglow-inactive-flipped.png"), repeat @custom_accent_backdrop url("assets/reflection-tiled.png");
    border-color: mix(@custom_accent_backdrop, black, 0.33333);
}

@define-color custom_accent_border_dark mix(@custom_accent, black, 0.5);
@define-color custom_accent_border_light mix(@custom_accent, white, 0.5);
@define-color custom_accent_border_dark_backdrop mix(@custom_accent_backdrop, black, 0.5);
@define-color custom_accent_border_light_backdrop mix(@custom_accent_backdrop, white, 0.5);

window, dialog {
    box-shadow:
        2px 0 @custom_accent_border_light,
        -2px 0 @custom_accent_border_light,
        0 2px @custom_accent_border_light,
        0 -2px @custom_accent_border_light,
        1.5px 1.5px @custom_accent_border_light,
        -1.5px 1.5px @custom_accent_border_light,
        1.5px -1.5px @custom_accent_border_light,
        -1.5px -1.5px @custom_accent_border_light,
        1px 0 @custom_accent_border_dark,
        -1px 0 @custom_accent_border_dark,
        0 1px @custom_accent_border_dark,
        0 -1px @custom_accent_border_dark,
        0.5px 0.5px @custom_accent_border_dark,
        -0.5px 0.5px @custom_accent_border_dark,
        0.5px -0.5px @custom_accent_border_dark,
        -0.5px -0.5px @custom_accent_border_dark;
}

window:backdrop, dialog:backdrop {
    box-shadow:
        2px 0 @custom_accent_border_light_backdrop,
        -2px 0 @custom_accent_border_light_backdrop,
        0 2px @custom_accent_border_light_backdrop,
        0 -2px @custom_accent_border_light_backdrop,
        1.5px 1.5px @custom_accent_border_light_backdrop,
        -1.5px 1.5px @custom_accent_border_light_backdrop,
        1.5px -1.5px @custom_accent_border_light_backdrop,
        -1.5px -1.5px @custom_accent_border_light_backdrop,
        1px 0 @custom_accent_border_dark_backdrop,
        -1px 0 @custom_accent_border_dark_backdrop,
        0 1px @custom_accent_border_dark_backdrop,
        0 -1px @custom_accent_border_dark_backdrop,
        0.5px 0.5px @custom_accent_border_dark_backdrop,
        -0.5px 0.5px @custom_accent_border_dark_backdrop,
        0.5px -0.5px @custom_accent_border_dark_backdrop,
        -0.5px -0.5px @custom_accent_border_dark_backdrop;
}
